body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
li,
button,
footer {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 20px;
}

button {
  border: none;
  outline: none;
}

.hero {
  background: url("../images/bg-hero-mobile.svg") no-repeat, #ebfbff;
}
@media screen and (min-width: 576px) {
  .hero {
    background: url("../images/bg-hero-desktop.svg") no-repeat, #ebfbff;
  }
}
.hero header {
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
  align-items: center;
}
.hero .btn button {
  padding: 0.45rem 1.8rem;
  font-size: 0.85rem;
  color: #00252e;
  background-color: white;
  box-shadow: 0 0.3rem 0.5rem rgba(128, 141, 153, 0.2);
  border-radius: 2em;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .hero .btn button {
    padding: 0.5rem 2.2rem;
    font-size: 0.9rem;
  }
}
.hero p {
  font-weight: 400;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .wrapper {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.wrapper .hero-content {
  margin-bottom: 45px;
}
@media screen and (min-width: 576px) {
  .wrapper .hero-content {
    text-align: left;
    width: 42.5%;
    margin-right: 7.5%;
    margin-bottom: 0;
    margin-top: 50px;
  }
  .wrapper .hero-content h1 {
    font-size: 2.2em;
    line-height: 1.2;
  }
  .wrapper .hero-content p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
}
.wrapper .hero-content button {
  padding: 0.9rem 2.4rem;
  background-color: #ff52bf;
  width: 80%;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgba(128, 141, 153, 0.4);
}
@media screen and (min-width: 576px) {
  .wrapper .hero-content button {
    padding: 0.9rem 1.7rem;
    background-color: #ff52bf;
    width: 55%;
  }
}
.wrapper .hero-img {
  margin-bottom: 30px;
}
@media screen and (min-width: 576px) {
  .wrapper .hero-img {
    margin-bottom: 0;
    width: 50%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.grid .feature {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15% 10%;
  box-sizing: border-box;
  box-shadow: 0 0 1rem rgba(128, 141, 153, 0.2);
  border-radius: 18px;
}
@media screen and (min-width: 576px) {
  .grid .feature {
    flex-direction: row-reverse;
    padding: 30px 60px;
    text-align: left;
  }
  .grid .feature .feature-content {
    width: 37%;
    margin: 0 auto;
  }
  .grid .feature .feature-img {
    width: 40%;
  }
}
@media screen and (min-width: 576px) {
  .grid .feature:nth-child(2) {
    flex-direction: row;
    padding: 40px 80px;
  }
}
.grid h3 {
  margin-top: 45px;
  margin-bottom: 20px;
}
.grid p {
  font-size: 0.8em;
  color: #808d99;
  line-height: 1.4;
}

.modal {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 90%;
  margin: 60px auto -3.5rem auto;
  text-align: center;
  border-radius: 1.4rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(128, 141, 153, 0.2);
}
@media screen and (min-width: 576px) {
  .modal {
    margin: 60px auto -4.5rem auto;
    width: 60%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
  }
}
.modal p {
  font-weight: 700;
  margin-bottom: 25px;
}
@media screen and (min-width: 576px) {
  .modal p {
    font-size: 2em;
  }
}
.modal button {
  padding: 0.7rem 1rem;
  background-color: #ff52bf;
  width: 60%;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgba(128, 141, 153, 0.4);
}
@media screen and (min-width: 576px) {
  .modal button {
    width: 40%;
    padding: 1rem 1rem;
  }
}

footer {
  background: #00252e;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}
footer .logo,
footer .row,
footer .copyright {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  footer .logo,
footer .row,
footer .copyright {
    width: 80%;
  }
}
footer .logo {
  margin-left: 5%;
  margin-top: 130px;
  margin-bottom: 25px;
  width: 240px;
  height: 39px;
}
@media screen and (min-width: 576px) {
  footer .logo {
    margin-left: 10%;
  }
}
footer .row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 45px;
}
@media screen and (min-width: 576px) {
  footer .row {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0;
  }
}
footer .col {
  display: flex;
  flex-direction: column;
}
footer .col img {
  width: 18px;
  height: 18px;
}
footer .location,
footer .phone,
footer .email {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .location img,
footer .phone img,
footer .email img {
  display: block;
}
footer .location p,
footer .phone p,
footer .email p {
  margin-left: 15px;
  font-size: 0.8em;
  margin-top: -3px;
  letter-spacing: 1px;
}
@media screen and (min-width: 576px) {
  footer .location p,
footer .phone p,
footer .email p {
    font-size: 0.6em;
    letter-spacing: normal;
  }
}
footer .about p,
footer .careers p {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  font-size: 0.9em;
}
@media screen and (min-width: 576px) {
  footer .about p,
footer .careers p {
    font-size: 0.8em;
  }
}
footer .social ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}
@media screen and (min-width: 576px) {
  footer .social ul {
    width: 65%;
  }
}
footer .social ul li {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  text-align: center;
}
footer .social ul i {
  font-size: 0.8em;
}
footer .copyright {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 0.75em;
}
@media screen and (min-width: 576px) {
  footer .copyright {
    text-align: right;
  }
}