$pink: hsl(322, 100%, 66%);


$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

$fontSize:18px;
$bodyFont:'Open Sans', sans-serif;
$headFont:'Poppins', sans-serif;

